.search-box .search-input{
    width: 500px;
    display: block !important;
}

.search-box .search-input input{
    width: 100%;
    border-radius: 500rem !important;
}

.list-box {
    position: absolute;
    left:10vw;
}
.list .imagebox .list-item{
    width: 100%;
    
}
.list .imagebox{
    width: 200px;
    text-align: left;
}
.book-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 55px;
    margin-left: 10%;
}
.Container{
    position: absolute;
    left: 500px;

}
@media screen and (max-width: 700px) {
    body {
        background-color: #424668;
      }
    .search-box .search-input{
        width: 90%;
        display: block !important;
    }
    .book-grid {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 10%;
        grid-gap: 10px;
        padding-left: 10%;
        
    }

  }

  .no-posted-books {
      display: flex;
      align-items: center;
      justify-content: center;
      color: whitesmoke;
      font-size: 20px;
      margin-top: 30vh;
  }

  .no-listed-books {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 20px;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }

  .my-books-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 7vh;
  }

  .my-books-col {
      width: 25%;
      margin-bottom: 5vh;
  }

  .my-books-book-item {
      width: 75%;
  }

  .my-books-remove-button {
      margin-left: 25%;
  }