.edit-a-book {
    text-align: center;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .edit-book-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a.button,
  button.button12 {
    background-color: #7e947a;
    height: 50px;
    width: 12vw;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    border: 1px solid #7e947a;
    margin-top: 20px;
  }

  button.button12:hover {
    background-color: #cccc;
  }
  
  .book-condition {
    text-align: left;
    margin-top: 40px;
    margin-left: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }