.button1 {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  padding: 5px;
  float: center;
  background-color: #7e947a;
  border-radius: 3px;
  border: 1px solid #7e947a;
  background-color: #7e947a;
  font-size: 1rem;
  color: white;
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.04)
  );
}

.button1:hover {
  background-color: #cccc;
}
.profile-title {
  color: #ffffff;
  text-align: center;
  margin: auto;
  position: relative;
  bottom: -40px;
  text-shadow: 0px 2px 5px #333333;
}
.log-out {
  float: right;
  margin-right: 20px;
  position: relative;
  top: -20px;
}
button.button20 {
  background-color: #7e947a;
  color: white;
  border-radius: 25px;
  height: 4vh;
  width: 5vw;
  border: 1px solid #7e947a;
  font-size: 18px;
}

button.button20:hover {
  background-color: #cccccc;
}

@media screen and (max-width: 400px) {
  .profile-title {
    color: #ffffff;
    font-size: 1.2em;
    position: relative;
    top: 80px;
    left: -40px;
    text-align: center;
    text-shadow: 0px 2px 5px #333333;
  }
}
